@font-face{
    font-family:TTNorms;
    font-display:swap;
    src: url("../fonts/TTNorms-Bold.woff2") format("woff2"),
    url("../fonts/TTNorms-Bold.woff") format("woff");
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:TTNorms;
    font-display:swap;
    src: url("../fonts/TTNorms-ExtraLight.woff2") format("woff2"),
    url("../fonts/TTNorms-ExtraLight.woff") format("woff");
    font-weight:200;
    font-style:normal;
}

@font-face{
    font-family:Play;
    font-display:swap;
    src: url("../fonts/Play-Bold.woff2") format("woff2"),
    url("../fonts/Play-Bold.woff") format("woff");
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:TTNorms;
    font-display:swap;
    src: url("../fonts/TTNorms-Medium.woff2") format("woff2"),
    url("../fonts/TTNorms-Medium.woff") format("woff");
    font-weight:500;
    font-style:normal;
}
@font-face{
    font-family:TTTravels;
    font-display:swap;
    src: url("../fonts/TTTravels-Bold.woff2") format("woff2"),
    url("../fonts/TTTravels-Bold.woff") format("woff");
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:Uni Sans Heavy;
    font-display:swap;
    src: url("../fonts/Uni Sans Heavy.woff2") format("woff2"),
    url("../fonts/Uni Sans Heavy.woff") format("woff");
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:TTTravels;
    font-display:swap;
    src: url("../fonts/TTTravels-DemiBold.woff2") format("woff2"),
    url("../fonts/TTTravels-DemiBold.woff") format("woff");
    font-weight:400;
    font-style:normal;
}
