.footer{
    margin-top: 150px;
    background-color: #FFE7DC;
    &_container{
        display:flex;
        justify-content: space-between;
        padding: 36px;
    } 
}
.menu-footer{
    &_ul{
        display: flex;  
    }
    &_logo{
        &:not(:last-child){
            margin-right: 18px;
        } 
    }
    &_link{
        font-family:'TT Norms Pro';
        font-size: 16px;
        font-weight: 400px;
        font-style: normal;
        line-height: 18px;
        color:#2A1A1A;
    }
    &_list {
        padding-bottom: 14px;
    }
    &_text{
        font-size:18px;
    }
    &_column{
        display: flex;
        flex-direction: column;
        margin-right: 53px;
        min-width: 137px;
    }
    &_author{
        margin-top: 45px;
    }
    &_text{
        margin-right: 4px;
    }
}