.header {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);

	// .header__container

	&__container {
		display: flex;
		align-items: center;
		min-height: 60px;
		justify-content: space-between;
		position: relative;
	
	}

	// .header__logo

	&__logo {
	}

	// .header__menu

	&__menu {
		
	}

	// .header__info

	&__info {
	}
}

.header__menu {
	display: flex;
	align-items: center;
}
.menu {
	

	// .menu__list

	&__list {
		display: flex;
		justify-content: left;
	}

	// .menu__item

	&__item {
		&:not(:last-child){
			margin-right: 18px;
		}

		// .menu__item_arrow

		&_arrow {
		}
	}

	// .menu__link

	&__link {
		align-items: center;
		font-family: $fontNorms;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		color: #2A1A1A;
		transition: all 0.3s ease;
		&:hover {
			color: #8E0038;
		}
	}
	

// -----------------------------------------
		span {
			border: solid black;
			border-width: 0 2px 2px 0px;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			transition: all 0.3s ease;
			margin-left: 2px;
			&:hover {
				// transform: rotate(-135deg);
			}
		}
		// ------------------ЩЕ--------------------
	.menu__item {
		&:hover .additional-menu{
			display: block;
		}
		&:hover span {
			transform: rotate(-135deg);
		}
		
	}
	.hd-menu {

		// .hd-menu__additional

		&__additional {
		}
}


.additional-menu {
	position: absolute;
	top: 0px;
	padding-top: 60px;
	display: none;

		// .additional-menu__list

	&__list {
		background: #fff;
		min-width: 156px;
		padding: 16px 20px 23px 20px;
		border-radius: 0px 0px 20px 20px;
		filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
		z-index: -1;
			
	}
}
.menu {

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
	}
}
// ------------------ARROW--------------------------
			// border: solid black;
			// border-width: 0 2px 2px 0px;
			// display: inline-block;
			// padding: 3px;
			// transform: rotate(45deg);
			// transition: all 0.3s ease;
			// &:hover {
			// 	transform: rotate(-135deg);
			// }
		
}
	

.info-header {
	display: flex;

	// .info-header__item

	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child){
			margin-right: 18px;
		}

		// .info-header__item_language

		&_language {
		}

		// .info-header__item_search

		&_search {
		}

		// .info-header__item_heart

		&_heart {
		}

		// .info-header__item_user

		&_user {
		}
	}
}
// -------ARROW--------------------------------


// ------------------------------RECIPES-----------------------------------
.menu__item {
	&:hover .hd-recipes{
		display: block;
	}
}
.menu__link {
	// .hd-menu__recipes

	&__recipes {
	}
}


.hd-recipes {
	position: absolute;
	left: 0;
	top: 0;
	padding: 86px 15px 0 15px;
	display: none;
	
	

	// .hd-recipes__body

	&__body {

		
	}

	// .hd-recipes__colums

	&__colums {

	}

	// .hd-recipes__colum

	&__column {
	}

	// .hd-recipes__top

	&__top {
		position: relative;
	}

	// .hd-recipes__image

	&__image {
	}

	// .hd-recipes__day

	&__day {
		position: absolute;
		left: 40px;
		top: 20px;
		padding: 8px 20px 12px 20px;
		border-radius: 20px;
		background-color: #FF8B3C;
		color: white;
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
	}

	// .hd-recipes__bottom

	&__bottom {
		background: #FFE7DC;
		padding: 11.67px 20px 21px 20px;
		border-radius: 0px 0px 20px 20px;
	}

	// .hd-recipes__author

	&__author {
	font-family: $fontNorms;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 106%;
	color: #CA4D70;
	&:not(:last-child) {
		margin-top: 12px;
	}
	}

	// .hd-recipes__title

	&__title {
	font-family: $fontTravels;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 115%;
	color: #8E0038;
	&:not(:last-child) {
		margin-bottom: 49px;
		margin-top: 8px;
	}
	}

	// .hd-recipes__details

	&__details {
		display: flex;
		
	}

	// .hd-recipes__time

	&__time {
	font-family: $fontNorms;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 106%;
	color: #CA4D70;
		margin-left: 4px;
	}
}
.hd-main {

	// .hd-main__column

	&__column {
		max-width: 320px;
		
	}
}

