.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 38;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);

	// .header__container

	&__container {


		


	}
}

.hd-nav {
	

	// .hd-nav__row

	&__row {
		display: flex;
		align-items: center;
		min-height: 60px;

	}

	// .hd-nav__main

	&__main {
	}

	// .hd-nav__logo

	&__logo {
	}

	// .hd-nav__menu

	&__menu {
	}

	// .hd-nav__menu-left

	&__menu-left {
	}
}
.nav-menu {
	flex: 1 1 auto;
	
	&:not(:last-child){
		margin-left: 24.65px;
	}

	

	// .nav-menu__list

	&__list {
		display: flex;
		

	}

	// .nav-menu__item

	&__item {
		&:not(:last-child) {
			margin-right: 18px;
		}
	}

	// .nav-menu__item-recipes

	&__item-recipes {
	}

	// .nav-menu__link

	&__link {
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		color: #2A1A1A;
		padding: 15px 0px 25px 0px;
		transition: all 0.3s ease;
		&:hover {
			color: #8E0038;
		}
	}

	// .nav-menu__item-more

	&__item-more {
	}

	// .nav-menu__link-more

	&__link-more {
	}
}
.nav-left {
	display: flex;
	align-items: center;
	position: relative;


	& >*:not(:last-child) {
		margin-right: 18px;
	}

	// .nav-left__language

	&__language {
	}

	// .nav-left__search

	&__search {
	}

	// .nav-left__button-search

	&__button-search {
	}

	// .nav-left__box-search

	&__box-search {
	}

	// .nav-left__heart

	&__heart {
	}

	// .nav-left__heart-button

	&__heart-button {
	}

	// .nav-left__avatar

	&__avatar {
	}

	// .nav-left__avatar-button

	&__avatar-button {
	}
}
.nav-left__box {
	
}
.box-search {

	// .box-search__list

	&__list {
	}

	// .box-search__item-often

	&__item-often {
	}

	// .box-search__link

	&__link {
	}
}
.nav-menu__link-more {
	&:hover span {
		transform: rotate(-135deg)
	}

	span{
		border: solid black;
		border-width: 0 2px 2px 0px;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		transition: all 0.3s ease;
		margin-left: 2px;
	}
}
// ------------------------ADDITIONAL-MENU------------------
.nav-menu {

	// .nav-menu__item

	&__item {
		position: relative;
		&:hover > .additional-menu {
			display: block;
		}


	}

	// .nav-menu__item-more

	&__item-more {
		

	}

	// .nav-menu__link

	&__link {
	}

	// .nav-menu__link-more

	&__link-more {

	}

	// .nav-menu__additional-menu

	&__additional-menu {
		
	}
}
.additional-menu {
	position: absolute;
	display: none;
	left: -20px;
	top: 44px;
	padding: 14px 20px 15px 20px;
	background: #FCFCFC;
	border-radius: 0px 0px 20px 20px;
	z-index: -10;
	min-width: 188px;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
	&_less {
		min-width: 158px;
	}

	&__link {
		padding: 0;
		display: inline-block;
		line-height: 112%;
		letter-spacing: -0.01em;
		&:not(:last-child) {
			padding-bottom: 20px;
		}
	}
}


// ------------------ARROW--------------------------
			// border: solid black;
			// border-width: 0 2px 2px 0px;
			// display: inline-block;
			// padding: 3px;
			// transform: rotate(45deg);
			// transition: all 0.3s ease;
			// &:hover {
			// 	transform: rotate(-135deg);
			// }
		
