.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 38;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	&__container {

	}


.hd-nav {
	

	// .hd-nav__row

	&__row {
		display: flex;
		align-items: center;
		min-height: 60px;

	}

	// .hd-nav__main

	&__main {
	}

	// .hd-nav__logo

	&__logo {
	}

	// .hd-nav__menu

	&__menu {
	}

	// .hd-nav__menu-left

	&__menu-left {
	}
}
.nav-menu {
	flex: 1 1 auto;
	
	&:not(:last-child){
		margin-left: 24.65px;
	}

	

	// .nav-menu__list

	&__list {
		display: flex;
		/*----------Table-------------*/
		@media (max-width: $md2+px){
			display: none;

		}
		

	}

	// .nav-menu__item

	&__item {
		&:not(:last-child) {
			margin-right: 18px;
		}
	}

	// .nav-menu__item-recipes

	&__item-recipes {
			margin-right: 18px;
			&:hover > .additional-menu {
				visibility: visible;
			}
	
	}

	// .nav-menu__link

	&__link {
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		color: #2A1A1A;
		padding: 15px 0px 15px 0px;
		transition: all 0.3s ease;
		&:hover {
			color: #8E0038;
		}
	}

	// .nav-menu__item-more

	&__item-more {
	}

	// .nav-menu__link-more

	&__link-more {
	}
}
.nav-left {
	display: flex;
	align-items: center;
	position: relative;


	& >*:not(:last-child) {
		margin-right: 18px;
	}

	// .nav-left__language

	&__language {
		/*----------Table-------------*/
		@media (max-width: $md2+px){
			display: none;
		}
	}

	// .nav-left__search

	&__search {
	}

	// .nav-left__button-search

	&__button-search {
	}

	// .nav-left__box-search

	&__box-search {
	}

	// .nav-left__heart

	&__heart {
	}

	// .nav-left__heart-button

	&__heart-button {
	}

	// .nav-left__avatar

	&__avatar {
	}

	// .nav-left__avatar-button

	&__avatar-button {
	}
}
.nav-left__box {
	
}
.box-search {

	// .box-search__list

	&__list {
	}

	// .box-search__item-often

	&__item-often {
	}

	// .box-search__link

	&__link {
	}
}
.nav-menu__link-more {
	&:hover span {
		transform: rotate(-135deg)
	}

	span{
		border: solid black;
		border-width: 0 2px 2px 0px;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		transition: all 0.3s ease;
		margin-left: 2px;
	}
}
// ------------------------ADDITIONAL-MENU------------------
.nav-menu {

	// .nav-menu__item

	&__item {
		position: relative;
		&:hover > .additional-menu {
			visibility: visible;

		}


	}

	// .nav-menu__item-more

	&__item-more {
		

	}

	// .nav-menu__link

	&__link {
	}

	// .nav-menu__link-more

	&__link-more {

	}

	// .nav-menu__additional-menu

	&__additional-menu {
		
	}
}
.additional-menu {
	position: absolute;
	visibility: hidden;
	left: -20px;
	top: 44px;
	padding: 14px 20px 15px 20px;
	background: #FCFCFC;
	border-radius: 0px 0px 20px 20px;
	z-index: -10;
	min-width: 188px;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
	&_less {
		min-width: 158px;
	}

	&__link {
		padding: 0;
		display: inline-block;
		line-height: 112%;
		letter-spacing: -0.01em;
		&:not(:last-child) {
			padding-bottom: 20px;
		}
	}
}


// ------------------ARROW--------------------------
			// border: solid black;
			// border-width: 0 2px 2px 0px;
			// display: inline-block;
			// padding: 3px;
			// transform: rotate(45deg);
			// transition: all 0.3s ease;
			// &:hover {
			// 	transform: rotate(-135deg);
			// }
		
// ========================DISH=========================
.additional-menu__section {
	background: #fcfcfc;
	border-radius: 0 0 20px 20px;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: -10;
}
.additional-menu {
	display: block;
	
	&__wrapper {
		display: flex;
	}
	// .additional-menu__container

	&__container {
	}

	// .additional-menu__colums

	&__colums {
		display: flex;
		justify-content: space-between;

	}

	// .additional-menu__column

	&__column {
		padding-top: 11px;
	}
}

}
.additional-column {

	// .additional-column_big

	&_big {
		max-width: 320px;

	}

	// .additional-column_bottom

	&_bottom {
		background: #FFE7DC;
		border-radius: 0px 0px 20px 20px;
		padding: 12px 20px 20px 21px;
	}

	// .additional-column__big-active

	&__big-active {
		position: relative;
		padding-top: 9px;
	}

	// .additional-column__top

	&__top {
	}

	// .additional-column__image

	&__image img {
		border-radius: 20px 20px 0 0;
	}

	// .additional-column__recipe

	&__recipe {
		position: absolute;
		top: 28px;
		left: 40px;
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		background: #FF8B3C;
		box-shadow: 0px 4px 8px rgba(142, 0, 56, 0.06), 0px 0px 2px rgba(142, 0, 56, 0.06), 0px 0px 1px rgba(142, 0, 56, 0.04);
		border-radius: 35px;
		padding: 8px 20px 8px 20px;
		color: #FCFCFC;
		&::before {
			content: "";
			position: absolute;
			inset: 0 0 0 0;
		}
	}

	// .additional-column__like

	&__like {
		position: absolute;
		top: 187px;
		left: 248px;
		padding: 9px 13px;
		border-radius: 100%;
		img {
			border-radius: 100%;
		}

	}

	// .additional-column__author

	&__author {
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 106%;
		color: #CA4D70;
	}

	// .additional-column__title-dish

	&__title-dish {
		font-family: $fontTravels;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 115%;
		color: #8E0038;
		&:not(:last-child) {
			margin: 8px 0px 54px 0px;
		}
	}

	// .additional-column__time

	&__time {
		display: flex;
		align-items: center;
		font-family: 'TT Norms Pro';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #CA4D70;
	}

	// .additional-column__time-icon

	&__time-icon {
	}

	// .additional-column__time-text

	&__time-text {
	}
}
// ---------------------------------------
	// .additional-column__list

.additional-menu__column {

}
.additional-column {



	// .additional-column__list

	&__list {
		min-width: 160px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	

	// .additional-column__item

	&__item {
	}

	// .additional-column__title

	&__title {
		color: #85A9C7;
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 162%;
	}

	// .additional-column__link

	&__link {
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 162%;
		color: #2A1A1A;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			color: #8E0038;
		}
	}
}
// ---------------------------------------------BURGER-------------------------------
.header-burger {
	min-width: 320px;
	height: 100%;
	background: #FCFCFC;
	z-index: 50;
	position: fixed;
	top: 0;
	right: 0;
	padding: 18px 28px 0px 28px;
	visibility: visible;
}
.hd-burger {
	cursor: pointer;

		// .hd-burger__top

	&__top {
		position: relative;
		padding: 23px 0px 61px 0px;
		span {
			&::after, 
			&::before {
				content: "";
				position: absolute;
				right: 0;
				width: 24px;
				height: 2px;
				background: #8E0038;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}

		// .hd-burger__top-button

	&__top-button {
	}

		// .hd-burger__nav

	&__nav {
	}

		// .hd-burger__list

	&__list {
	}

		// .hd-burger__item

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 28px;
		}
		span {
			border: solid black;
			border-width: 0 2px 2px 0px;
			display: inline-block;
			padding: 3.5px 3.5px 7px 7px;
			transform: rotate(-45deg);
			transition: all 0.2s ease;
			margin-right: 8px;
			&:hover {
				border: solid #8E0038;
				border-width: 0 2px 2px 0px;
			}
				
		}
	}
		// .hd-burger__btn

	&__btn {
		font-family: $fontNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 114%;
		&:hover {
			color: #8E0038;
		}
	}

		// .hd-burger__next

	&__next {
	}
}

/*----------Table-------------*/
/*----------Table-------------*/


