//Шрифт за зомовчуванням =======================================
$fontTravels: "TTTravels";
$fontNorms: "TTNorms";
$fontSize: rem(18);

//Основні кольори===================================
$mainColor: #000;
$burgundy: #8E0038;
$gray: #85A9C7;
$sandy: #FFE7DC;
$white: #FFFFFF;
$pink: #CA4D70;
$arrowbackground: #E2EAF4;
$activebutton: #D9DD6B;
$bodyColor: #fcfcfc;

// =============================================
$transitiononthree: all 0.3s ease 0.1s;
$transitiononone: all 0.1s ease 0.1s;

//Настройки =======================================
//@@include('../img/user.svg',{})
//Mінімальна ширина сторінки
$minWidth: 320;
//Ширина макета===================================
$maxWidth: 1440;
//Ширина контейнеру================================
$maxWidthContainer: 1150;
//Отступ безпеки
$containerPadding: 40;	
//Тип адаптива
// 1 = отзивчивість(без брайкпоінтов)
//2 = по брек поінтам
$responsiveType: 1;


//Ширина спрацювання першого брекпоінта
$containerWidth: $maxWidthContainer + $containerPadding;


//Брек-поінти
$md1: 1080px;//PC
$md2: 991.98px; //Table
$md3: 767.98px;//Mobile
$md4: 479.98px;

//Загальні параметри

body {
	color: #2a1a1a;
	font-size: 18px;
	font-family: $fontTravels;
	background: $bodyColor;
	font-weight: 400;
}
body.__lock {
	overflow: hidden;
}
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 20px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.mySwiper2 {
	width: 50%;
	height: 264px;
}
.mySwiper {
	width: 50%;
	height: 390px;
}