$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$primary: #192252;
$primary-word: #192252;
$primary-button: #0e1734;
$section-pd-lg: 80px 0px;
$section-pd-md: 40px 0px;
$section-pd-sm: 20px 0px;



$gray: #848fac;
